#box {

    margin-right: auto;
    margin-left: 50px;
    background-color: white;
    box-shadow: #254C58 1px 0px;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}
h2 {
    right:15px;
}

#arrowButton {
    margin-top: 280px;
}

#collection {
    margin-top: 60px;
    /* width: 200px; */
    margin-right: auto;
    margin-left: 50px;
    background-color: white;
    box-shadow: #254C58 1px 0px;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}

#stockDisplay:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 2px 2px lightgray;
}

#stockDisplay {
    margin: 3px;
}